@model Demo1.Models.ProductMaster

@{
    ViewBag.Title = "ProductDetail";


}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Product Card/Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="~/css/ok.css" type="text/css">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>


<div class="container">

    <div class="card" style="margin-top:5%;">
        <div class="card-body">


            <div class="row">
                <div class="col-lg-5 col-md-5 col-sm-6">
                    <div class="white-box text-center"> <img src="@Url.Content(Model.Image)" style="height:400px; width:260px; margin:auto;" id="previewImage" /></div>
                </div>
                <div class="col-lg-7 col-md-7 col-sm-6">
                    <h2 class="card-title">@Model.BookName</h2>
                    <h4 class="box-title mt-5">Product description</h4>
                    <p>@Model.Description</p>
                    <h2 class="mt-5">
                        $@Model.BookPrice
                    </h2>
                    <h3 class="box-title mt-5">General Info</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-product">
                            <tbody>
                                <tr>
                                    <td width="390">Publisher</td>
                                    <td>@Model.Publisher</td>
                                </tr>
                                <tr>
                                    <td>Quantity</td>
                                    <td>@Model.BookQuantity</td>
                                </tr>


                            </tbody>
                        </table>
                       
                    </div>


                </div>
            </div>
        </div>
    </div>
</div>

